<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/estilos.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="js/index.js"></script>
        <script type="text/javascript">
        var arr ;
    function recibirParametros(){
      var url = new URL(window.location.href);
      var c1 = url.searchParams.get("campo1");
      var c2 = url.searchParams.get("campo2");
        if (c2 ==  null){
            buscarBarra(c1);
        }else{
          window.location.href = `categoriasColecciones.html?campo1=${c1}&campo2=${c2}`
      
        }
        console.log(c1,c2);
    }

    function buscarBarra(c1){
        let busqueda = c1; 
        var request = $.ajax({
            url: '../Model/barra.php',
            type:'POST',
            dataType: 'html',
            data:{busqueda: busqueda}
        });
        request.done(function(data){
      var response = JSON.parse(data);
      desplegarBusqueda(response);
      console.log(response);

    }); 

    request.fail(function(response){
      if (jqXHR.status === 0) {

        alert('Not connect: Verify Network.');
    
      } else if (jqXHR.status == 404) {
    
        alert('Requested page not found [404]');
    
      } else if (jqXHR.status == 500) {
    
        alert('Internal Server Error [500].');
    
      } else if (textStatus === 'parsererror') {
    
        alert('Requested JSON parse failed.');
    
      } else if (textStatus === 'timeout') {
    
        alert('Time out error.');
    
      } else if (textStatus === 'abort') {
    
        alert('Ajax request aborted.');
    
      } else {
    
        alert('Uncaught Error: ' + jqXHR.responseText);
    
      }
    })

    }

    function busquedaParametrizada(genero , valor){
    if (genero ==  "w search"){
      genero = "F";
    }else {
      genero = "M";
    }

    event.preventDefault(); 
    var request = $.ajax({
      url: '../Model/buscarProducto.php',
      type: 'POST', 
      dataType:'html', 
      data : {genero: genero, valor:valor}
    })

    request.done(function(data){
      var response = JSON.parse(data);
      if (response[0] == null){
        $('#tabla').append(`<h3 class="titulo">We couldn't make any matches please try another search</h3>`);
      }else{
        desplegarBusqueda(response);
        console.log(response);
      }

    }); 

    request.fail(function(response){
      if (jqXHR.status === 0) {

        alert('Not connect: Verify Network.');
    
      } else if (jqXHR.status == 404) {
    
        alert('Requested page not found [404]');
    
      } else if (jqXHR.status == 500) {
    
        alert('Internal Server Error [500].');
    
      } else if (textStatus === 'parsererror') {
    
        alert('Requested JSON parse failed.');
    
      } else if (textStatus === 'timeout') {
    
        alert('Time out error.');
    
      } else if (textStatus === 'abort') {
    
        alert('Ajax request aborted.');
    
      } else {
    
        alert('Uncaught Error: ' + jqXHR.responseText);
    
      }
    })
  }

  function desplegarBusqueda(array){
      
      console.log(array);
      
      arr = array;
      $('#tabla').empty();
      var tabla = [];
      for(let i = 0 ; i< array.productos.length ; i ++){
        console.log(i);
        tabla += `<div class="cell large-3">
        <div class="card">
            <a href=""><img href="" src="${array.productos[i].imagen}"></a>
            <div class="card-section">
                <a href=""><p id="title" class="titulo"> ${array.productos[i].titulo} </p></a>
                <a href=""><p class="descrip">${array.productos[i].descripcion}</p></a>
                <button class="button secondary descrip expanded producto" onclick="selectProducto(${i})"> See More </button>
            </div>
        </div>
    </div>`;
        
      }
      $('#tabla').append(tabla);

      
    }

    function selectProducto(i){
      console.log(i);

      window.location.href = `seleccionarProducto.html?imagen=${arr.productos[i].imagen}&id=${arr.productos[i].id}&titulo=${arr.productos[i].titulo}&descripcion=${arr.productos[i].descripcion}`;
    }
       
    $(document).ready(function(){
                 $('#lupa').click(function(){
                    if($('#barra').is(":visible")){
                        $('#barra').hide(1000);
                    }else{
                        $('#barra').show(1000);
                    }
                    
                })

                $('.producto').click(function(){
                  alert("Hola")
                })

                
            })
            
        </script>
        
    </head>
    
    <body lang="en" onload="recibirParametros()">
       <div class="contenedor" id="TituloPrincipal" >
            <h1 id="minimal">Minimal</h1>
       </div>
       
       <div class="grid-x grid-padding-x">
            <div class="menu large-4 cell align-left">
                <ul class="dropdown menu titulo " data-dropdown-menu>
                    <li>
                        <a href="#" class="secondary-color">Women</a>
                        <ul class="menu">
                            <li><a id="women">All</a></li>
                            <li><a  class = "w search" value="Tops">Tops</a></li>
                            <li><a  class = "w search" value="Bottoms">Bottoms</a></li>
                            <li><a  class = "w search" value="Dresses">Dresses</a></li>
                            <li><a  class = "w search" value="Hoodies">Hoodies</a></li>
                            <li><a  class = "w search" value="Hats">Hats</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="show">Men</a>
                        <ul class="menu">
                            <li><a id="men">All</a></li>
                            <li><a  class="m search" value="Tops">Tops</a></li>
                            <li><a  class="m search" value="Bottoms">Bottoms</a></li>
                            <li><a  class="m search" value="Hoodies">Hoodies</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="show">Collections</a>
                        <ul class="menu">
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Favorites</a></li>
                            <li><a href="#">Top Rated</a></li>
                            <li><a href="#">Best Sellers</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                
                </ul>
            </div>
            <div class="menu titulo large-8 cell align-right">
                <ul class="dropdown menu " data-dropdown-menu>
                    <li><span class="material-icons">shopping_bag</span>
                    <li>
                        <a href="#" class="show">Account</a>
                        <ul class="menu">
                            <li><a href="#"><span class="material-icons">
                                edit
                                </span>Edit my profile</a></li>
                            <li><a href="#"><span class="material-icons">
                                add
                                </span> Add Product</a></li>
                            <li><a href="#"><span class="material-icons">
                                how_to_reg
                                </span> Register Admin</a></li>
                            <li><a href="#"><span class="material-icons">
                                exit_to_app
                                </span> Sign Out</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="material-icons large" id="lupa">search</span>
                        <div id="barra">
                            <input type="text" placeholder="Buscar" id="barrita">
                        </div>
                    </li>                 
                </ul>
            </div>
        </div>
        
        <div class="contenedor3 " id="TituloSecundario">
            <br>
             <div class="grid-x">
                <div class="cell large-1"></div>
                 <div class="cel large-10">
                    <h3 class="titulo">Results of the Search</h3>
                 </div>
                 <div class="cell large-1"></div>
             </div>
        </div>
        <br>
        <br>
        
        <div class="grid-x grid-padding-x">
            <div class="cell large-1"></div>
            <div class="cell large-10 ">
                <div class="grid-x align-right">
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            <li class="pagination-previous disabled"><span class="show-for-sr">page</span></li>
                            <li class="current descrip"><span class="show-for-sr">You're on page</span> 1</li>
                            <li class="descrip"><a href="#" aria-label="Page 2">2</a></li>
                            <li class="descrip"><a href="#" aria-label="Page 3">3</a></li>
                            <li class="ellipsis descrip" aria-hidden="true"></li>
                            <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">page</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="grid-x grid-padding-x" id="tabla">

                </div>
               
                
                <div class="grid-x align-right">
                     <nav aria-label="Pagination">
                        <ul class="pagination">
                            <li class="pagination-previous disabled"><span class="show-for-sr">page</span></li>
                            <li class="current descrip"><span class="show-for-sr">You're on page</span> 1</li>
                            <li class="descrip"><a href="#" aria-label="Page 2">2</a></li>
                            <li class="descrip"><a href="#" aria-label="Page 3">3</a></li>
                            <li class="ellipsis descrip" aria-hidden="true"></li>
                            <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">page</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <br>
        <div class="grid-x grid-padding-x ">
            <div class="large-12 cell" id="footer">
                <div class="grid-x grid-padding-x ">
                    <div class="large-1 cell " ></div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <br>
                        <br>
                        <div class="descrip large-6 cell" >© 2020 Minimal, Inc</div>
                        <div class="grid-x grid-padding-x ">
                            <div class="large-4 cell" ></div>
                            <div class="large-1 cell" >
                               <a> <i class="fa fa-facebook-f " style="font-size:28px; color: white;"></i></a>
                               <br>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-twitter" style="font-size:24px; color: white;"></i></a>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-instagram" style="font-size:24px; color: white;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">Shop</p>
                        <a class="foot"><p class="descrip">Women</p></a>
                        <a class="foot"><p class="descrip">Male</p></a>
                        <a class="foot"><p class="descrip">Collections</p></a>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">About</p>
                        <a class="foot"><p class="descrip">Policies and refunds</p></a>
                        <a class="foot"><p class="descrip">Find My Size</p></a>
                        <br> 
                        <br> 
                        
                            
                        
                    </div>
                    <div class="large-2 cell">
                      
                        
                        </div>
                    </div>
                </div>
            </div>
 

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>