<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit User</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/estilos.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            $(document).ready(function(){
                $('#barra').hide();
                $('#contrasenaNueva').hide();
                $('#contrasenaActual').hide();

                $('#contrasena').click(function(){
                    if ($('#contrasenaActual').is(":visible")){
                        $('#contrasenaNueva').hide(1000);
                        $('#contrasenaActual').hide(1000);
                        $('#contrasenaN').hide(1000);
                        $('#contrasenaA').hide(1000);
                    }else{
                        $('#contrasenaNueva').show(1000);
                        $('#contrasenaActual').show(1000);
                        $('#contrasenaN').hide(1000);
                        $('#contrasenaA').hide(1000);
                        
                    }
                })

                $('#lupa').click(function(){
                    if($('#barra').is(":visible")){
                        $('#barra').hide(1000);
                    }else{
                        $('#barra').show(1000);
                    }
                    
                })
            })
            
        </script>
        
    </head>
    
    <body lang="en">
       <div class="contenedor" id="TituloPrincipal">
            <h1 id="minimal">Minimal</h1>
       </div>
       
       <div class="grid-x grid-padding-x">
            <div class="menu large-4 cell align-left">
                <ul class="dropdown menu titulo " data-dropdown-menu>
                    <li>
                        <a href="#" class="secondary-color">Women</a>
                        <ul class="menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Hoodies</a></li>
                            <li><a href="#">Hats</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="show">Men</a>
                        <ul class="menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Hoodies</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="show">Collections</a>
                        <ul class="menu">
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Favorites</a></li>
                            <li><a href="#">Top Rated</a></li>
                            <li><a href="#">Best Sellers</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                
                </ul>
            </div>
            <div class="menu titulo large-8 cell align-right">
                <ul class="dropdown menu " data-dropdown-menu>
                    <li><span class="material-icons">shopping_bag</span>
                    <li>
                        <a href="#" class="show">Account</a>
                        <ul class="menu">
                            <li><a href="#"><span class="material-icons">
                                edit
                                </span>Edit my profile</a></li>
                            <li><a href="#"><span class="material-icons">
                                add
                                </span> Add Product</a></li>
                            <li><a href="#"><span class="material-icons">
                                how_to_reg
                                </span> Register Admin</a></li>
                            <li><a href="#"><span class="material-icons">
                                exit_to_app
                                </span> Sign Out</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="material-icons large" id="lupa">search</span>
                        <div id="barra">
                            <input type="text" placeholder="Buscar">
                        </div>
                    </li>
                                   
                </ul>
            </div>
           
        </div>
        <div class="contenedor " id="TituloSecundario">
            <br>
            <h3 class="titulo">Edit Account</h3>
        </div>
        <br>
        <br>
        
        <div class="grid-x grid-padding-x ">
            <div class="large-2 cell"></div>
            <div class="large-2 cell contenedor2"> 
                <div class="recuadro contenedor">
                    <br>
                    <h4 class="titulo">My Account</h4>
                    <br>
                    <a class="titulo ">
                        <div class="grid-x grid-padding-x contenedor">
                            <div class="large-2 cell"></div>
                            <div class="large-2 cell">
                                <span class="material-icons">favorite_border</span>
                            </div>
                            <div class="large-1 cell">
                                <p class="titulo">Wishlist</p>
                            </div>
                        </div>
                    </a>
                    <a class="titulo ">
                        <div class="grid-x grid-padding-x contenedor">
                            <div class="large-2 cell"></div>
                            <div class="large-2 cell">
                                <span class="material-icons">local_shipping</span>
                            </div>
                            <div class="large-5 cell">
                                <p class="titulo">My Orders</p>
                            </div>
                        </div>
                    </a>
                    <a class="titulo ">
                        <div class="grid-x grid-padding-x contenedor">
                            <div class="large-2 cell"></div>
                            <div class="large-2 cell">
                                <span class="material-icons">exit_to_app</span>
                            </div>
                            <div class="large-5 cell">
                                <p class="titulo">Sign Out</p>
                            </div>
                        </div>
                    </a>
                </div>
                <br>
                <br>
                <div class="recuadro contenedor">
                    <h4 class="titulo">Password</h4>
                    <p class="descrip">You can change your password by clicking the button below</p>
                    <button class="button secondary descrip" id="contrasena">Change Password</button>
                    <label for="contraseña" class="descrip" id="contrasenaA">Current Pasword: </label>
                    <input type="password" class="input" id="contrasenaActual" placeholder="Current Password">
                    <label for="contraseña" class="descrip" id="contrasenaN">New Pasword: </label>
                    <input type="password" class="input" id="contrasenaNueva" placeholder="New Password">
                </div>
            </div>
            <div class="large-2 cell"></div>
            <div class="large-4 cell align-right">
                <h4 class="titulo">Personal Information:</h4>
                <form>
                    <label for="nombre" class="descrip">First Name: </label>
                    <input type="text" placeholder="First Name" id="nombre" for="nombre">
                    <label for="apellido" class="descrip">Last Name: </label>
                    <input type="text" placeholder="Last Name" id="apellido" for="apellido">
                    <label for="Email" class="descrip">Email: </label>
                    <input type="email" placeholder="Enter your Email" id="email" for="email">
                    <label for="birthday" class="descrip">Birthday: </label>
                    <input type="date" id="birthday" for="birthday">
                    <label for="adress" class="descrip">Adress</label>
                    <textarea for="adress" id="adrees"></textarea>
                    <label for="codigo" class="descrip">Zip Code</label>
                    <input type="number" for="codigo" id="codigo" max="8055" min="1050">
                    <label for="state" class="descrip">State </label>
                    <input type="text" for="state" id="estado"> 
                    <label for="city" class="descrip">City</label>
                    <input type="text" for="city" id="ciudad">
                    <fieldset class="large-5 cell">
                        <legend class="descrip">Gender</legend>
                            <input type="radio" name="gender" value="F" id="mujer" required><label class="descrip " for="mujer">Female</label>
                            <input type="radio" name="gender" value="M" id="hombre"><label class="descrip " for="hombre">Male</label>
                      </fieldset>
                      <br>
                      <div class="grid-x grid-padding-x align-center">
                      <label for="subir" class="button secondary descrip expanded" >Update</label>
                            <input type="submit" id="subir" class="show-for-sr">
                    </div>
                </form>
                    
            </div>
        </div>
        
        <br>
        <br>

        <div class="grid-x grid-padding-x ">
            <div class="large-12 cell" id="footer">
                <div class="grid-x grid-padding-x ">
                    <div class="large-1 cell " ></div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <br>
                        <br>
                        <div class="descrip large-6 cell" >© 2020 Minimal, Inc</div>
                        <div class="grid-x grid-padding-x ">
                            <div class="large-4 cell" ></div>
                            <div class="large-1 cell" >
                               <a> <i class="fa fa-facebook-f " style="font-size:28px; color: white;"></i></a>
                               <br>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-twitter" style="font-size:24px; color: white;"></i></a>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-instagram" style="font-size:24px; color: white;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">Shop</p>
                        <a class="foot"><p class="descrip">Women</p></a>
                        <a class="foot"><p class="descrip">Male</p></a>
                        <a class="foot"><p class="descrip">Collections</p></a>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">About</p>
                        <a class="foot"><p class="descrip">Policies and refunds</p></a>
                        <a class="foot"><p class="descrip">Find My Size</p></a>
                        <br> 
                        <br> 
                        
                            
                        
                    </div>
                    <div class="large-2 cell">
                      
                        
                        </div>
                    </div>
                </div>
            </div>
    
 

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>