<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minimal</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="js/index.js"></script>
        
        <script>
            $(document).ready(function(){
                 $('#lupa').click(function(){
                    if($('#barra').is(":visible")){
                        $('#barra').hide(1000);
                    }else{
                        $('#barra').show(1000);
                    }
                    
                })
                $('#dialog').hide();
                $('#dialog2').hide();
                $('#account').click(function(){
                  $('#dialog').dialog();
                })

                $('#newAccount').click(function(){
                  $('#dialog').dialog("close");
                  $('#dialog2').dialog();
                })

                $('#cuenta').click(function(){
                  $('#dialog2').dialog("close");
                  $('#dialog').dialog();
                })
                
            })
            
        </script>
        
    </head>
    
    <body lang="en">
       <div class="contenedor" id="TituloPrincipal">
            <h1 id="minimal">Minimal</h1>
       </div>
       
       <div class="grid-x grid-padding-x">
        <div class="menu large-4 cell align-left">
            <ul class="dropdown menu titulo " data-dropdown-menu>
                <li>
                    <a  class="secondary-color">Women</a>
                    <ul class="menu">
                        <li><a id="women" class="genero">All</a></li>
                        <li><a  class = "w search" value="Tops">Tops</a></li>
                        <li><a  class = "w search" value="Bottoms">Bottoms</a></li>
                        <li><a  class = "w search" value="Dresses">Dresses</a></li>
                        <li><a  class = "w search" value="Hoodies">Hoodies</a></li>
                        <li><a  class = "w search" value="Hats">Hats</a></li>
                    </ul>
                </li>
                <li><a  class="show">Men</a>
                    <ul class="menu">
                        <li><a id="men" class="genero">All</a></li>
                        <li><a  class="m search" value="Tops">Tops</a></li>
                        <li><a  class="m search" value="Bottoms">Bottoms</a></li>
                        <li><a  class="m search" value="Hoodies">Hoodies</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="show">Collections</a>
                    <ul class="menu">
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Favorites</a></li>
                        <li><a href="#">Top Rated</a></li>
                        <li><a href="#">Best Sellers</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
            
            </ul>
        </div>
            <div class="menu titulo large-8 cell align-right">
                <ul class="dropdown menu " data-dropdown-menu>
                    <li><span class="material-icons">shopping_bag</span>
                    <li>
                        <a class="show" id="account">Account</a>
                    </li>
                    <li>
                        <span class="material-icons large" id="lupa">search</span>
                        <div id="barra">
                            <input type="text" placeholder="Buscar" id="barrita">
                        </div>
                    </li>                 
                </ul>
            </div>
        </div>

        
          <div class="miniContenedor large-3 cell "  id="dialog">
              <div class="contenedor">
                  <h2 class="titulo">Sign In</h2>
              </div>
              <div class="grid-x grid-padding-x align-center">
              <form id="login2">
                  <label for="email" class="titulo"><b>Email:</b></label>
                  <input type="email" id="email" placeholder="Introduce your Email" required>
                  
                      <label for="password" class="titulo">Password: </label>
                  <input type="password" id="contrasena" placeholder="Introduce your Password" required minlength="8">
                  <div class="contenedor">
                      <a class="titulo" href="">Forgot your Password?</a>
                      <br>
                      <br>
                      <label for="iniciar" class="button secondary descrip " >Sign In</label>
                      
                          <input type="submit" id="iniciar" class="show-for-sr">
                  </div>
                  <br>
                  <h5 class="titulo">New Customer?</h5>
                  <a class="titulo" id="newAccount">Create a new account</a>
              </form>
              </div>
          </div>
          <div class="miniContenedor large-3 cell " id="dialog2">
            <div class="contenedor">
                <h2 class="titulo">Create Your Account</h2>
            </div>
            
                <form id="register" >
                    <div class="grid-x grid-padding-x ">
                    <div class="large-6 cell">
                        <label for="name">First Name</label>
                        <input type="text" id="name" required placeholder="Introduce your name">
                    </div>
                    <div class="large-6 cell">
                        <label for="last">Last Name</label>
                        <input type="text" id="last" required placeholder="Introduce your last name">
                    </div>
                    <div class="large-12 cell">
                        <label for="email">Email:</label>
                        <input type="email" id="emailR" required placeholder="Introduce your Email">
                    </div>
                    <div class="large-12 cell">
                        <label for="contrasenaR">Password:</label>
                        <input type="password" id="contrasenaR" required placeholder="Introduce your Password" minlength="8">
                    </div>
                    <div class="contenedor">
                        <label for="subir" class="button secondary descrip " >Register</label>                        
                        <input type="submit" id="subir" class="show-for-sr">
                    </div>
                    <div class="contenedor">
                        <a class="titulo" id="cuenta">I already have an account</a>
                    </div>
                </div>
                </form>
            
        </div>
     
        
         <div class="contenedor " id="TituloSecundario">
        </div>
         
        <br>
        
        <div class="grid-x">
        <div class="cell large-1"></div>
        <div class="cell large-10">
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
            <div class="orbit-wrapper">
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                </div>
                <ul class="orbit-container">
                    <li class="is-active orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="img/Minimal1.png" alt="Space">
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="img/Miminal2.png" alt="Space">
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="img/Minimal1.png" alt="Space">
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="img/Miminal2.png" alt="Space">
                        </figure>
                    </li>
                </ul>
            </div>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0">
                    <span class="show-for-sr">First slide details.</span>
                    <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                </button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
        </div>
        </div>
        <div class="cell large-1"></div>
        </div>
        
        <br>
        
        <div class="grid-x" >
            <!-- <div class="column large-1"></div> > -->
             <div class="cell large-12">
                <div><img id="separador" src="img/separador2.png"></div>
             </div>
           <!--  <div class="column large-1"></div> -->
        </div>
    
         
          
        <div class="grid-x grid-padding-x">
            <div class="cell large-1"></div>
            <div class="cell large-10 ">
                <div class="grid-x">
                    <div class="column large-12">
                        <a href=""><img src="img/jajajajaj.png"></a>
                    </div>
                    <div class="column large-12">
                        <br>
                    </div>
                    
                </div>
                <div class="grid-x grid-padding-x">
            <div class="cell large-1"></div>
                <div class="cell large-10">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/orbit1.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/orbit2.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/8891984711_2_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/0728966712_1_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/6913443612_1_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><p class="descrip center">VIEW MORE</p></a>
                        </div>
                    </div>
                <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black"></div>
                    <div class="swiper-button-prev swiper-button-black"></div>
            </div>
            </div>
        <div class="cell large-1"></div>
        </div>
            </div>
        </div>
        
        <br>
        
        <div class="grid-x" >
            <!-- <div class="column large-1"></div> > -->
             <div class="cell large-12">
                <div><img id="separador" src="img/separador2.png"></div>
             </div>
           <!--  <div class="column large-1"></div> -->
        </div>
    
                
        <div class="grid-x grid-padding-x">
            <div class="cell large-1"></div>
            <div class="cell large-10 ">
                <div class="grid-x">
                    <div class="column large-12 ">
                        <a href=""><img src="img/jejejje.png"></a>
                    </div>
                    <div class="column large-12">
                        <br>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
            <div class="cell large-1"></div>
                <div class="cell large-10">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/0728966712_1_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/orbit2.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/0256179400_1_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/1.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <a href=""><img src="img/3339423800_1_1_3.jpg"></a>
                                <div class="card-section">
                                    <a href=""><p id="title" class="titulo"> Ropa </p></a>
                                    <a href=""><p class="descrip">This is a simple card with an image.</p></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><p class="descrip center">VIEW MORE</p></a>
                        </div>
                    </div>
                <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-black">
                    </div>
                    <div class="swiper-button-prev swiper-button-black"></div>
            </div>
            </div>
        <div class="cell large-1"></div>
        </div>
            </div>
        </div>
       
        
            
        
        <br>
        <br>
        <div class="grid-x grid-padding-x ">
            <div class="large-12 cell" id="footer">
                <div class="grid-x grid-padding-x ">
                    <div class="large-1 cell " ></div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <br>
                        <br>
                        <div class="descrip large-6 cell" >© 2020 Minimal, Inc</div>
                        <div class="grid-x grid-padding-x ">
                            <div class="large-4 cell" ></div>
                            <div class="large-1 cell" >
                               <a> <i class="fa fa-facebook-f " style="font-size:28px; color: white;"></i></a>
                               <br>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-twitter" style="font-size:24px; color: white;"></i></a>
                            </div>
                            <div class="large-1 cell" >
                                <a><i class="fa fa-instagram" style="font-size:24px; color: white;"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">Shop</p>
                        <a class="foot"><p class="descrip">Women</p></a>
                        <a class="foot"><p class="descrip">Male</p></a>
                        <a class="foot"><p class="descrip">Collections</p></a>
                    </div>
                    <div class="large-3 cell contenedor" >
                        <br>
                        <p class="titulo">About</p>
                        <a class="foot"><p class="descrip">Policies and refunds</p></a>
                        <a class="foot"><p class="descrip">Find My Size</p></a>
                        <br> 
                        <br>  
                    </div>
                    <div class="large-2 cell">
                        </div>
                    </div>
                </div>
            </div>
        
 

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
        
    <script>
        var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
        el: '.swiper-pagination',
        clickable: true,
        },
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
        });
    </script>
    </body>
</html>