<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="css/starrr.css" rel=stylesheet/>
        <script src="js/starrr.js"></script>
        <script src="js/seleccionarProducto.js"></script>
        <script src="js/index.js"></script>
        
       <script>
           $(document).ready(function(){
               recibirParametros2();
               cargarComentarios();
               $('#dialog').hide();
                $('#dialog2').hide();
                $('#dialog3').hide();


                $('#account').click(function(){
                  $('#dialog').dialog();
                })

                $('#newAccount').click(function(){
                  $('#dialog').dialog("close");
                  $('#dialog2').dialog();
                })

                $('#cuenta').click(function(){
                  $('#dialog2').dialog("close");
                  $('#dialog').dialog();
                })

                $('#password_F').click(function(){
                  $('#dialog').dialog("close");
                  $('#dialog3').dialog();
                })
           })
       </script>
        
    </head>
    
    <body lang="en" >
        <div class="miniContenedor large-3 cell " id="dialog3">
            <div class="contenedor">
                <h2 class="titulo">Recover Your Password</h2>
            </div>
            <div class="grid-x grid-padding-x align-center">
            <form>
                <label for="emailf" class="titulo"><b>Email:</b></label>
                <input type="email" id="emailf" placeholder="Introduce your Email" required >
                    <label for="recover" class="button secondary descrip " >Submit</label>
                    <input type="submit" id="recover" class="show-for-sr">
                </div>
                <br>
               
            </form>
            </div>
        <div class="miniContenedor large-3 cell "  id="dialog">
            <div class="contenedor">
                <h2 class="titulo">Sign In</h2>
            </div>
            <div class="grid-x grid-padding-x align-center">
            <form id="login2">
                <label for="email" class="titulo"><b>Email:</b></label>
                <input type="email" id="email" placeholder="Introduce your Email" required>
                
                    <label for="password" class="titulo">Password: </label>
                <input type="password" id="contrasena" placeholder="Introduce your Password" required minlength="8">
                <div class="contenedor">
                    <a class="titulo" href="" id="password_F">Forgot your Password?</a>
                    <br>
                    <br>
                    <label for="iniciar" class="button secondary descrip " >Sign In</label>
                    
                        <input type="submit" id="iniciar" class="show-for-sr">
                </div>
                <br>
                <h5 class="titulo">New Customer?</h5>
                <a class="titulo" id="newAccount">Create a new account</a>
            </form>
            </div>
        </div>
        <div class="miniContenedor large-3 cell " id="dialog2">
          <div class="contenedor">
              <h2 class="titulo">Create Your Account</h2>
          </div>
          
              <form id="register" >
                  <div class="grid-x grid-padding-x ">
                  <div class="large-6 cell">
                      <label for="name">First Name</label>
                      <input type="text" id="name" required placeholder="Introduce your name">
                  </div>
                  <div class="large-6 cell">
                      <label for="last">Last Name</label>
                      <input type="text" id="last" required placeholder="Introduce your last name">
                  </div>
                  <div class="large-12 cell">
                      <label for="email">Email:</label>
                      <input type="email" id="emailR" required placeholder="Introduce your Email">
                  </div>
                  <div class="large-12 cell">
                      <label for="contrasenaR">Password:</label>
                      <input type="password" id="contrasenaR" required placeholder="Introduce your Password" minlength="8">
                  </div>
                  <div class="contenedor">
                      <label for="subir" class="button secondary descrip " >Register</label>                        
                      <input type="submit" id="subir" class="show-for-sr">
                  </div>
                  <div class="contenedor">
                      <a class="titulo" id="cuenta">I already have an account</a>
                  </div>
              </div>
              </form>
          
      </div>
       <div class="contenedor" id="TituloPrincipal">
            <h1 id="minimal">Minimal</h1>
       </div>
       <div class="grid-x grid-padding-x">
        <div class="menu large-4 cell align-left">
            <ul class="dropdown menu titulo " data-dropdown-menu>
                <li>
                    <a href="#" class="secondary-color">Women</a>
                    <ul class="menu">
                        <li><a id="women"  class="genero">All</a></li>
                        <li><a  class = "w search" value="Tops">Tops</a></li>
                        <li><a  class = "w search" value="Bottoms">Bottoms</a></li>
                        <li><a  class = "w search" value="Dresses">Dresses</a></li>
                        <li><a  class = "w search" value="Hoodies">Hoodies</a></li>
                        <li><a  class = "w search" value="Hats">Hats</a></li>
                    </ul>
                </li>
                <li><a href="#" class="show">Men</a>
                    <ul class="menu">
                        <li><a id="men"  class="genero">All</a></li>
                        <li><a  class="m search" value="Tops">Tops</a></li>
                        <li><a  class="m search" value="Bottoms">Bottoms</a></li>
                        <li><a  class="m search" value="Hoodies">Hoodies</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="show">Collections</a>
                    <ul class="menu">
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Favorites</a></li>
                        <li><a href="#">Top Rated</a></li>
                        <li><a href="#">Best Sellers</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
            
            </ul>
        </div>
        
        <div class="menu titulo large-8 cell align-right">
            <ul class="dropdown menu " data-dropdown-menu>
                <li><span class="material-icons">shopping_bag</span>
                    <li>
                        <a class="show" id="account">Account</a>
                        <ul class="menu" id="usuario">
                            <li><a href="editarUsuarioC.html"><span class="material-icons">
                                edit
                                </span>Edit my profile</a></li>
                            <li><a id="wish"><span class="material-icons">
                                favorite_border
                                </span> Wishlist</a></li>
                            <li><a href="#"><span class="material-icons">
                                local_shipping
                                </span> My Orders</a></li>
                            <li><a href="../Model/cerrarSesion.php"><span class="material-icons">
                                exit_to_app
                                </span> Sign Out</a></li>
                        </ul>
                    </li>
                <li>
                    <span class="material-icons large" id="lupa">search</span>
                    <div id="barra">
                        <input type="text" placeholder="Buscar" id="barrita">
                    </div>
                </li>                 
            </ul>
        </div>
    </div>
    
       
       <div class="contenedor " id="TituloSecundario">
        <br>
    </div>
    <br>
    <br>
    
    <div class="grid-x">
        <div class="cell large-1"></div>
        <div class="cell large-5">
            <div class="grid-x grid-padding-x align-center">
                <div class="cell large-4">
                    <div class="grid-x">
                        <div class="cell large-10 large-offset-2">
                            <img class="recuadroImag" src="img/0728966712_1_1_3.jpg" height="120" width="120">
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell large-10 large-offset-2">
                            <img class="recuadroImag" src="img/0728966712_2_1_3.jpg" height="120" width="120">
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell large-10 large-offset-2">
                            <img class="recuadroImag" src="img/0728966712_2_4_3.jpg" height="120" width="120">
                        </div>
                    </div> 
                </div>
                
                <div class="cell large-8">
                    <br>
                    <div class="orbit" role="region" aria-label="Product" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <div class="orbit-wrapper">
                            <div class="orbit-controls">
                                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                            </div>
                            <ul class="orbit-container">
                                <li class="is-active orbit-slide">
                                    <figure class="orbit-figure">
                                        <img class="orbit-image" src="img/0728966712_1_1_3.jpg" height="500">
                                    </figure>
                                </li>
                                <li class="orbit-slide">
                                    <figure class="orbit-figure">
                                        <img class="orbit-image" src="img/0728966712_2_1_3.jpg">
                                    </figure>
                                </li>
                                <li class="orbit-slide">
                                    <figure class="orbit-figure">
                                        <img class="orbit-image" src="img/0728966712_2_4_3.jpg">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell large-1"></div>
        <div class="cell large-4">
            <div class="titulo"><h3 id="tProducto">Title of the Product</h3></div>
            <div class="descrip"><p id="dProducto">Simple Description</p></div>
            <div class="grid-x" id="cont2">
                
            </div>
            <hr>
            <div class="descrip"><p id="price">$Price</p></div>
            <div class="descrip"><p>Select Size:</p></div>
            <div  class="grid-x">
                <div class="cell large-1"></div>
                <div class="cell large-2">
                    <div class="descrip"><button class="hollow button" href="#">XS</button></div>
                </div>
                <div class="cell large-2">
                    <div class="descrip"><button class="hollow button" href="#">S</button></div>
                </div>
                <div class="cell large-2">
                    <div class="descrip"><button class="hollow button" href="#">M</button></div>
                </div>
                <div class="cell large-2">
                    <div class="descrip"><button class="hollow button" href="#">L</button></div>
                </div>
                <div class="cell large-2">
                    <div class="descrip"><button class="hollow button" href="#">XL</button></div>
                </div>
                <div class="cell large-1"></div>
            </div>
            <br>
            <div class="descrip"><p><a href="#">Don't know your Size?</a></p></div>
            <div class="descrip"><button id="shopButton" class="secondary button expanded" href="#">ADD TO BAG</button></div>
            <br>
            <div class="descrip"><button id="shopButton" class="hollow button expanded" onclick="anadirListaDeDeseos()"><img id="icon" src="img/heart-outline.svg" width="23px">ADD TO WISHLIST</button></div>
        
        </div>
        <div class="cell large-1"></div>
    </div>
    
    <div class="grid-x" >
        <!-- <div class="column large-1"></div> > -->
         <div class="cell large-12">
            <div><img id="separador" src="img/separador2.png"></div>
         </div>
       <!--  <div class="column large-1"></div> -->
    </div>

    <div class="contenedor">
        <h3 class="titulo">Reviews & Ratings</h3>
    </div>
    <hr>
    <br>
    
    <div class="grid-x">
        <div class="cell large-1"></div>
        <div class="cell large-4">
            <div class="grid-x">
                <div class="cell large-12">
                    <div class="descrip"><p id="preview" class="total">Overrall Rating based on N Reviews</p></div>
                </div>
            </div>
            <div class="grid-x" id="cont" >
                
            </div>
            
            <br>
            <hr>
            
            <div class="descrip"><p id="prom">0.0 out of 5.0</p></div>
            <div class="grid-x">
            <div class="cell large-8">
                <div class="grid-x">
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-7">
                        <div class="descrip"><p id="preview" class="cinco">N Reviews</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell large-8">
                <div class="grid-x">
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-7">
                        <div class="descrip"><p id="preview" class="cuatro">N Reviews</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell large-8">
                <div class="grid-x">
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-7">
                        <div class="descrip"><p id="preview" class="tres">N Reviews</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell large-8">
                <div class="grid-x">
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-7">
                        <div class="descrip"><p id="preview" class="dos">N Reviews</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell large-8">
                <div class="grid-x">
                    <div class="cell large-1">
                        <img src="img/star.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-1">
                        <img src="img/star-outline.svg" width="18px">
                    </div>
                    <div class="cell large-7">
                        <div class="descrip"><p id="preview" class="uno">N Reviews</p></div>
                    </div>
                </div>
            </div>   
        </div>
        <hr>
            <div class="titulo comen"><p><b>We want to hear from you!</b></p></div>
            <div class="descrip"><p id="preview">Tell us what you think about this item</p></div>
            <div class="descrip center"><button id="shopButton" class="hollow button" onclick="review()" >Write Review</button></div>
    </div>
    <div class="cell large-1"></div>
    <div class="cell  large-5" id="tabla">
        
    </div>
        
        <hr>
        
        
        <br>
        <div class="grid-x align-right">
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        <li class="pagination-previous disabled"><span class="show-for-sr">page</span></li>
                        <li class="current descrip"><span class="show-for-sr">You're on page</span> 1</li>
                        <li class="descrip"><a href="#" aria-label="Page 2">2</a></li>
                        <li class="descrip"><a href="#" aria-label="Page 3">3</a></li>
                        <li class="ellipsis descrip" aria-hidden="true"></li>
                        <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">page</span></a></li>
                    </ul>
                </nav>
            </div>
        
    </div>
    <div class="cell large-1"></div>
</div>
    
    
    
    
    
    
    
    
     <br>
    <div class="grid-x grid-padding-x ">
        <div class="large-12 cell" id="footer">
            <div class="grid-x grid-padding-x ">
                <div class="large-1 cell " ></div>
                <div class="large-3 cell contenedor" >
                    <br>
                    <br>
                    <br>
                    <div class="descrip large-6 cell" >© 2020 Minimal, Inc</div>
                    <div class="grid-x grid-padding-x ">
                        <div class="large-4 cell" ></div>
                        <div class="large-1 cell" >
                           <a> <i class="fa fa-facebook-f " style="font-size:28px; color: white;"></i></a>
                           <br>
                        </div>
                        <div class="large-1 cell" >
                            <a><i class="fa fa-twitter" style="font-size:24px; color: white;"></i></a>
                        </div>
                        <div class="large-1 cell" >
                            <a><i class="fa fa-instagram" style="font-size:24px; color: white;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="large-3 cell contenedor" >
                    <br>
                    <p class="titulo">Shop</p>
                    <a class="foot"><p class="descrip">Women</p></a>
                    <a class="foot"><p class="descrip">Male</p></a>
                    <a class="foot"><p class="descrip">Collections</p></a>
                </div>
                <div class="large-3 cell contenedor" >
                    <br>
                    <p class="titulo">About</p>
                    <a class="foot"><p class="descrip">Policies and refunds</p></a>
                    <a class="foot"><p class="descrip">Find My Size</p></a>
                    <br> 
                    <br> 
                    
                        
                    
                </div>
                <div class="large-2 cell">
                  
                    
                    </div>
                </div>
            </div>
        </div>

 

    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>